@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 481px){

#front {
	background: url(thedome2.png) no-repeat bottom left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	width:100%; 
	height:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#headlineFront {
	font-size:175%;
	text-align:left;
	font-weight:bold;
	color:#cc3300;
	font-family: 'Nobile', sans-serif;
	padding-top:1px;
	width:100%;
}	

	
#hero {
	
	display:block-inline;
	color:#cc3300;
	padding-left:40%;
	padding-right:auto;
	padding-top:5%;
	color:#cc3300;
	font-family: 'Nobile', sans-serif;

}

#hero h2 {
	position:absolute;
	top: 50%;	
}
	
#hero span {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}

#hero a:link {
	text-decoration:none;
	font-weight:bold;
	color:#cc3300;
}
#hero a:hover{
	text-decoration:underline;
	font-weight:bold;
	color:#cc3300;
}

#hero a:visited{
	text-decoration:none;
	font-weight:bold;
	color:#cc3300;
}

#background {
	width:100%; 
	height:100%; 
	position:fixed; 
	left:0px; 
	top:0px; 
	z-index: -1;
	opacity:0.90;
}

#headline {
	font-size:250%;
	text-align:center;
	font-weight:bold;
	color:#cc3300;
	font-family: 'Nobile', sans-serif;
	padding-top:17%;
	width:100%;
}

}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background-size: cover;
}

/* #headline a:link {
	text-decoration:none;
	font-weight:bold;
	color:#cc3300;
}
#headline a:visited {
	text-decoration:none;
	font-weight:bold;
	color:#cc3300;
}

#headline a:hover {
	text-decoration:underline;
	font-weight:bold;
	color:#cc3300;
}


#countdown {
	text-align:center;
	font-weight:bold;
	color:#cc3300;
	font-size:350%;
	font-family:'Arial Black', Gadget, sans-serif;
	margin-top:1em;
}
*/
#email {
	 position:fixed; 
	 font-weight:bold;
	 bottom:0;
	 padding-bottom:2em;
}

#email a {
	text-decoration:none;
	font-weight:bold;
	font-size:125%;
	color:#cc3300;
	font-family:'Arial Black', Gadget, sans-serif;
	
}
#snark a {
	position:fixed; 
	bottom:0;
	right:0;
	padding-bottom:2em;
	padding-right:2em;
	text-align=right;
	text-decoration:none;
	font-weight:bold;
	font-size:125%;
	color:#cc3300;
	font-family:'Arial Black', Gadget, sans-serif;
}

.number {
	color:#cc3300;
	line-height:125%;
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
#front {
	background: url(thedome2.png) no-repeat bottom left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	width:100%; 
	height:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#headlineFront {
	font-size:175%;
	text-align:left;
	font-weight:bold;
	color:#cc3300;
	font-family: 'Nobile', sans-serif;
	padding-top:1px;
	width:100%;
}	


#background {
	width:100%; 
	height:100%; 
	position:fixed; 
	left:0px; 
	top:0px; 
	z-index: -1;
}

#headline {
	font-size:250%;
	text-align:center;
	font-weight:bold;
	color:#cc3300;
	font-family:'Arial Black', Gadget, sans-serif;
	padding-top:35%;
	padding-left:5%;
	width:100%;
	
}

#countdown {
	
	color:#cc3300;
	font-size:250%;
	text-align:center;
	font-weight:bold;
	font-family:'Arial Black', Gadget, sans-serif;
	margin-top:1em;
	padding-left:5%;
	width:100%;
}
#email {
	 position:fixed;
	 bottom:0;
	 left:0;
	 padding-left:2em;
	 padding-bottom:2em;
	 width:100%;
}

#email a {
	text-decoration:none;
	font-weight:bold;
	font-size:150%;
	color:#cc3300;
	font-family:'Arial Black', Gadget, sans-serif;

}
#snark a {
	position:fixed; 
	bottom:0;
	right:0;
	padding-bottom:2em;
	padding-right:2em;
	text-align=right;
	text-decoration:none;
	font-weight:bold;
	font-size:150%;
	color:#cc3300;
	font-family:'Arial Black', Gadget, sans-serif;
}

.number {
	color:#cc3300;
}
	
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

#hero {
	
	display:none;
	color:#cc3300;
	padding-left:33%;
	padding-right:auto;
	padding-top:100px;
	font-family: 'Nobile', sans-serif;

}

#hero h2 {
	position: relative;
	top: 10%;	
}

}
